<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美团点评点餐前后端分离实践</title>
</head>
<body>
    <h1>线上访问地址</h1>
    <ul>
        <li><a href="http://www.neitui100.com:8080/page" target="_blank">页面路由</a></li>
        <li><a href="http://www.neitui100.com:8080/ajax/userInfo" target="_blank">接口路由</a></li>
    </ul>
</body>

</html>
