<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= params.title %></title>
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
    <h1><%= params.content %></h1>
    <button id="btn1">click me!</button>
    <% include footer.ejs %>
</body>

<script type="text/javascript" src="/static/js/page.js"></script>
</html>
