button {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    line-height: 36px;
    width: 100px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 0;
    outline: 0;
    border-radius: 4px;
}

p {
    border: 1px #ddd solid;
    width: 180px;
}
